<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="34" android:compileSdkVersionCodename="14" package="com.crunchyroll.crunchyroid" platformBuildVersionCode="34" platformBuildVersionName="14">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
    <permission android:label="credentialsprovider" android:name="com.crunchyroll.crunchyroid.permission.credentialsprovider" android:protectionLevel="signature"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="http"/>
        </intent>
        <package android:name="com.google.android.apps.tv.launcherx"/>
        <package android:name="com.google.android.tvlauncher"/>
        <package android:name="com.google.android.tvrecommendations"/>
        <package android:name="com.google.android.gms.policy_cast_dynamite"/>
        <package android:name="com.amazon.firebat"/>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService"/>
        </intent>
        <intent>
            <action android:name="com.singular.preinstall.READ_PERMISSION_SINGULAR"/>
        </intent>
        <package android:name="com.facebook.katana"/>
        <package android:name="com.instagram.android"/>
        <intent>
            <action android:name="com.android.vending.billing.InAppBillingService.BIND"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_AD_ID"/>
    <uses-permission android:name="android.permission.AD_SERVICES_CONFIG"/>
    <uses-feature android:name="android.software.leanback" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-permission android:name="com.amazon.aps.iva.ctaserviceinterface.INTERACTIVE_ADS"/>
    <uses-feature android:name="android.hardware.microphone" android:required="false"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="com.android.vending.CHECK_LICENSE"/>
    <permission android:name="com.crunchyroll.crunchyroid.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="com.crunchyroll.crunchyroid.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application android:allowBackup="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:dataExtractionRules="@xml/backup_rules" android:enableOnBackInvokedCallback="true" android:extractNativeLibs="false" android:fullBackupContent="@xml/backup_rules" android:hardwareAccelerated="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:largeHeap="true" android:localeConfig="@xml/locales_config" android:name="com.ellation.crunchyroll.application.CrunchyrollApplication" android:networkSecurityConfig="@xml/network_security_config" android:supportsRtl="true" android:theme="@style/CxTheme">
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:name="com.ellation.crunchyroll.presentation.startup.StartupActivity" android:screenOrientation="locked" android:theme="@style/StartUpCxTheme" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="crunchyroll.com"/>
                <data android:host="www.crunchyroll.com"/>
                <data android:pathPrefix="/activate"/>
                <data android:pathPattern="/watch/..*"/>
                <data android:pathPattern="/..*/watch/..*"/>
                <data android:pathPattern="/series/..*"/>
                <data android:pathPattern="/..*/series/..*"/>
                <data android:pathPattern="/artist/..*"/>
                <data android:pathPattern="/..*/artist/..*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="crunchyroll"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="open" android:scheme="crunchyroll"/>
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.ellation.crunchyroll.presentation.main.home.HomeBottomBarActivity" android:screenOrientation="locked" android:theme="@style/TransparentStatusBar" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.ellation.crunchyroll.presentation.main.lists.MyListsBottomBarActivity" android:screenOrientation="locked" android:theme="@style/TransparentStatusBar" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.ellation.crunchyroll.presentation.main.browse.BrowseBottomBarActivity" android:screenOrientation="locked" android:theme="@style/TransparentStatusBar" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.ellation.crunchyroll.presentation.main.simulcast.SimulcastBottomBarActivity" android:screenOrientation="locked" android:theme="@style/TransparentStatusBar"/>
        <activity android:name="com.ellation.crunchyroll.presentation.main.store.CrStoreBottomBarActivity" android:screenOrientation="locked" android:theme="@style/TransparentStatusBar"/>
        <activity android:name="com.ellation.crunchyroll.presentation.main.settings.SettingsBottomBarActivity" android:screenOrientation="locked" android:theme="@style/SettingsTheme" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.ellation.crunchyroll.presentation.update.UpdateAppActivity" android:screenOrientation="locked" android:theme="@style/StartUpCxTheme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/sign_in_title" android:name="com.ellation.crunchyroll.presentation.signing.signin.SignInActivity" android:screenOrientation="locked" android:theme="@style/TransparentStatusBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/create_account" android:name="com.ellation.crunchyroll.presentation.signing.signup.SignUpFlowActivity" android:screenOrientation="locked" android:theme="@style/TransparentStatusBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:label="" android:name="com.ellation.crunchyroll.presentation.showpage.ShowPageActivity" android:screenOrientation="locked" android:theme="@style/ShowPageTheme" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:label="@string/forgot_password_title" android:name="com.ellation.crunchyroll.presentation.forgotpassword.ForgotPasswordActivity" android:screenOrientation="locked" android:theme="@style/TransparentStatusBar" android:windowSoftInputMode="adjustResize|stateVisible"/>
        <activity android:name="com.ellation.crunchyroll.cast.expanded.CastControllerActivity" android:theme="@style/Theme.CastVideosTheme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.ellation.crunchyroll.presentation.availability.ServiceUnavailableActivity" android:screenOrientation="locked" android:theme="@style/StartUpCxTheme" android:windowSoftInputMode="adjustPan"/>
        <activity android:label="@string/offline_viewing" android:name="com.ellation.crunchyroll.presentation.downloads.activity.DownloadsActivity" android:screenOrientation="locked" android:theme="@style/TransparentStatusBar"/>
        <activity android:name="com.ellation.crunchyroll.presentation.search.result.summary.SearchResultSummaryActivity" android:screenOrientation="locked" android:theme="@style/SearchResultCxTheme" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.ellation.crunchyroll.presentation.search.result.detail.SearchResultDetailActivity" android:screenOrientation="locked" android:theme="@style/TransparentStatusBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.crunchyroll.sortandfilters.screen.SortAndFilterActivity" android:theme="@style/SortAndFilterTheme" android:windowSoftInputMode="adjustPan"/>
        <activity android:label="" android:name="com.ellation.crunchyroll.crunchylists.crunchylist.CrunchylistActivity" android:screenOrientation="locked" android:theme="@style/TransparentStatusBar" android:windowSoftInputMode="adjustResize"/>
        <receiver android:exported="false" android:name="com.ellation.crunchyroll.presentation.download.notification.NotificationDismissReceiver"/>
        <service android:exported="false" android:foregroundServiceType="dataSync" android:name="com.ellation.crunchyroll.presentation.download.notification.NotificationsDismissService"/>
        <meta-data android:name="com.ellation.crunchyroll.ui.images.BestImageSizeGlideModule" android:value="GlideModule"/>
        <meta-data android:name="asset_statements" android:resource="@string/asset_statements"/>
        <service android:exported="false" android:name="com.ellation.crunchyroll.downloading.exoplayer.ExoPlayerDownloadService">
            <intent-filter>
                <action android:name="com.google.android.exoplayer.downloadService.action.RESTART"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <receiver android:enabled="true" android:exported="false" android:name="com.crunchyroll.appwidgets.continuewatching.ContinueWatchingWidgetReceiver">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_continue_watching_info"/>
        </receiver>
        <activity android:name="com.crunchyroll.profiles.presentation.profileactivation.ProfileActivationActivity" android:theme="@style/TransparentStatusBar" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name="com.crunchyroll.profiles.presentation.whoiswatching.WhoIsWatchingActivity" android:theme="@style/TransparentStatusBar" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:label="" android:name="com.crunchyroll.auth.screen.OtpActivity" android:screenOrientation="locked" android:theme="@style/TransparentStatusBar"/>
        <activity android:label="" android:name="com.crunchyroll.auth.emailmandatory.EmailMandatoryActivity" android:screenOrientation="locked" android:theme="@style/TransparentStatusBar"/>
        <activity android:label="" android:name="com.crunchyroll.auth.AuthActivity" android:screenOrientation="locked" android:theme="@style/TransparentStatusBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.ellation.crunchyroll.presentation.multitiersubscription.success.SubscriptionSuccessActivity" android:theme="@style/TransparentStatusBar"/>
        <activity android:name="com.ellation.crunchyroll.presentation.multitiersubscription.success.bento.BentoCheckoutSuccessActivity" android:theme="@style/TransparentStatusBar"/>
        <activity android:name="com.ellation.crunchyroll.presentation.multitiersubscription.success.downgrade.DowngradeSuccessActivity" android:theme="@style/TransparentStatusBar"/>
        <activity android:name="com.ellation.crunchyroll.presentation.multitiersubscription.upsellv2.UpsellV2Activity" android:screenOrientation="locked" android:theme="@style/TransparentStatusBar"/>
        <activity android:label="@string/manage_membership_title" android:name="com.ellation.crunchyroll.presentation.multitiersubscription.manage.ManageMembershipActivity" android:theme="@style/TransparentStatusBar"/>
        <activity android:label="" android:name="com.ellation.crunchyroll.presentation.multitiersubscription.cancellation.rescue.CancellationRescueActivity" android:theme="@style/TransparentStatusBar"/>
        <activity android:name="com.ellation.crunchyroll.presentation.multitiersubscription.extendedupgrade.UpgradeActivity" android:screenOrientation="locked" android:theme="@style/TransparentStatusBar"/>
        <activity android:name="com.ellation.crunchyroll.presentation.multitiersubscription.samsunggalaxystore.AlternativeFlowActivity" android:theme="@style/TransparentStatusBar"/>
        <activity android:name="com.crunchyroll.onboarding.presentation.OnboardingV2Activity" android:screenOrientation="locked" android:theme="@style/TransparentStatusBar"/>
        <activity android:name="com.crunchyroll.billingnotifications.ingrace.InGraceNotificationActivity" android:theme="@style/TransparentStatusBar"/>
        <activity android:name="com.crunchyroll.billingnotifications.cancelled.CancellationCompleteActivity" android:theme="@style/TransparentStatusBar"/>
        <activity android:name="com.crunchyroll.restrictedstate.UserRestrictedStateActivity" android:screenOrientation="locked" android:theme="@style/TransparentStatusBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.crunchyroll.music.watch.screen.WatchMusicActivity" android:screenOrientation="user" android:theme="@style/ContentTheme" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:label="" android:name="com.crunchyroll.music.artist.ArtistActivity" android:screenOrientation="locked" android:theme="@style/TransparentStatusBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name="com.crunchyroll.usermigration.welcome.UserMigrationWelcomeActivity" android:screenOrientation="locked" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:label="" android:name="com.crunchyroll.usermigration.terms.AcceptTermsAndPrivacyPolicyActivity" android:screenOrientation="locked" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:label="@string/cr_ownership_verification_title" android:name="com.crunchyroll.usermigration.verification.CrOwnershipVerificationActivity" android:screenOrientation="locked" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.crunchyroll.watchscreen.screen.WatchScreenActivity" android:screenOrientation="user" android:theme="@style/ContentTheme" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:name="com.crunchyroll.watchscreen.screen.offline.OfflineWatchScreenActivity" android:screenOrientation="user" android:theme="@style/ContentTheme" android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
        <activity android:name="com.crunchyroll.contentunavailable.fullscreen.ContentUnavailableActivity" android:screenOrientation="locked" android:theme="@style/TransparentStatusBar"/>
        <meta-data android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME" android:value="com.ellation.crunchyroll.cast.CastOptionsProvider"/>
        <meta-data android:name="com.crunchyroll.datadog.DatadogGlideModuleWrapper" android:value="GlideModule"/>
        <service android:exported="false" android:name="com.ellation.crunchyroll.notifications.util.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:exported="false" android:name="com.ellation.crunchyroll.notifications.CustomBrazeReceiver">
            <intent-filter>
                <action android:name="com.braze.push.intent.NOTIFICATION_RECEIVED"/>
                <action android:name="com.braze.push.intent.NOTIFICATION_OPENED"/>
                <action android:name="com.braze.push.intent.NOTIFICATION_DELETED"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.crunchyroll.crunchyroid.credentialsprovider" android:enabled="true" android:exported="true" android:grantUriPermissions="true" android:name="com.crunchyroll.credentialsprovider.CredentialsProvider" android:permission="com.crunchyroll.crunchyroid.permission.credentialsprovider" android:protectionLevel="signature"/>
        <activity android:exported="true" android:launchMode="singleTask" android:name="com.crunchyroll.sso.presentation.SsoActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="auth" android:scheme="sso.crunchyroll"/>
            </intent-filter>
        </activity>
        <activity android:name="com.crunchyroll.sso.presentation.SsoWebViewActivity"/>
        <meta-data android:name="com.google.android.gms.ads.AD_MANAGER_APP" android:value="true"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity android:enabled="true" android:exported="false" android:name="androidx.glance.appwidget.action.ActionTrampolineActivity"/>
        <activity android:enabled="true" android:exported="false" android:launchMode="singleInstance" android:name="androidx.glance.appwidget.action.InvisibleActionTrampolineActivity" android:noHistory="true" android:taskAffinity="androidx.glance.appwidget.ListAdapterCallbackTrampoline" android:theme="@style/Widget.Glance.AppWidget.CallbackTrampoline"/>
        <receiver android:enabled="true" android:exported="false" android:name="androidx.glance.appwidget.action.ActionCallbackBroadcastReceiver"/>
        <receiver android:enabled="true" android:exported="false" android:name="androidx.glance.appwidget.MyPackageReplacedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <activity android:exported="false" android:name="com.google.android.tv.ads.controls.FallbackImageActivity" android:theme="@style/Theme.AppCompat.NoActionBar.Translucent"/>
        <receiver android:exported="false" android:name="com.google.android.gms.cast.framework.media.MediaIntentReceiver"/>
        <service android:exported="false" android:name="com.google.android.gms.cast.framework.ReconnectionService"/>
        <service android:exported="true" android:name="com.google.android.gms.cast.tv.internal.CastTvHostService"/>
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-3717018608761149~4590999125"/>
        <activity android:exported="false" android:name="com.braze.ui.BrazeWebViewActivity"/>
        <activity android:exported="false" android:name="com.braze.ui.activities.BrazeFeedActivity"/>
        <activity android:exported="false" android:name="com.braze.ui.activities.ContentCardsActivity"/>
        <activity android:exported="false" android:launchMode="singleInstance" android:name="com.braze.push.NotificationTrampolineActivity" android:theme="@style/Braze.PushTrampoline.Transparent"/>
        <receiver android:exported="false" android:name="com.braze.push.BrazePushReceiver"/>
        <service android:exported="false" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.ndk.CrashlyticsNdkRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.FirebaseCrashlyticsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.sessions.FirebaseSessionsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.ktx.FirebaseCommonLegacyRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.FirebaseCommonKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:exported="false" android:name="com.google.android.gms.ads.AdActivity" android:theme="@android:style/Theme.Translucent"/>
        <provider android:authorities="com.crunchyroll.crunchyroid.mobileadsinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.android.gms.ads.MobileAdsInitProvider"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.ads.AdService"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:exported="false" android:name="com.google.android.gms.ads.OutOfContextTestingActivity"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.firebase.sessions.SessionLifecycleService"/>
        <provider android:authorities="com.crunchyroll.crunchyroid.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <provider android:authorities="com.crunchyroll.crunchyroid.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="androidx.work.WorkManagerInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.profileinstaller.ProfileInstallerInitializer" android:value="androidx.startup"/>
        </provider>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_foreground_service_default" android:exported="false" android:name="androidx.work.impl.foreground.SystemForegroundService"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="false" android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"/>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <uses-library android:name="androidx.window.extensions" android:required="false"/>
        <uses-library android:name="androidx.window.sidecar" android:required="false"/>
        <meta-data android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule" android:value="GlideModule"/>
        <service android:name="androidx.core.widget.RemoteViewsCompatService" android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <meta-data android:name="com.google.android.play.billingclient.version" android:value="6.0.1"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:exported="false" android:name="com.android.billingclient.api.ProxyBillingActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.profileinstaller.ProfileInstallReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <activity android:exported="false" android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity" android:stateNotNeeded="true" android:theme="@style/Theme.PlayCore.Transparent"/>
        <meta-data android:name="com.android.stamp.source" android:value="https://play.google.com/store"/>
        <meta-data android:name="com.android.stamp.type" android:value="STAMP_TYPE_DISTRIBUTION_APK"/>
        <meta-data android:name="com.android.vending.splits" android:resource="@xml/splits0"/>
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="3"/>
        <meta-data android:name="com.android.dynamic.apk.fused.modules" android:value="base"/>
        <activity android:excludeFromRecents="true" android:hardwareAccelerated="true" android:launchMode="singleTask" android:name="com.android.spreadsheet.LoadSpreadSheetActivity" android:theme="@android:style/Theme.Material.Dialog.NoActionBar.MinWidth"/>
    </application>
</manifest>